OPENAI_ENGINE=text-davinci-003
OPENAI_DEPLOYMENT_TYPE=Text
OPENAI_API_BASE=https://YOUR_AZURE_OPENAI_RESOURCE.openai.azure.com/
OPENAI_API_KEY=YOUR_AZURE_OPENAI_API_KEY
OPENAI_TEMPERATURE=0.7
OPENAI_MAX_TOKENS=-1
BLOB_ACCOUNT_NAME=YOUR_AZURE_BLOB_STORAGE_ACCOUNT_NAME
BLOB_ACCOUNT_KEY=YOUR_AZURE_BLOB_STORAGE_ACCOUNT_KEY
BLOB_CONTAINER_NAME=documents
BLOB_CONTAINER_CV_NAME=cv
BLOB_CONTAINER_JD_NAME=jobdescription
FORM_RECOGNIZER_ENDPOINT=YOUR_AZURE_FORM_RECOGNIZER_ENDPOINT
FORM_RECOGNIZER_KEY=YOUR_AZURE_FORM_RECOGNIZER_KEY
APPLICATION_INSIGHTS_INSTRUMENTATION_KEY=YOUR_APPLICATION_INSIGHT_INSTRUMENTATION_KEY
CHUNK_SIZE=500
CHUNK_OVERLAP=100
QUESTION_PROMPT=Please reply to the question using only the information present in the text above. If you can't find it, reply 'Not in the text'.\nQuestion: _QUESTION_\nAnswer:
